@{
    ViewData["Title"] = "Register Success";
}

<div>
    <p>Registro realizado com sucesso! Por favor, verifique seu email para confirmar sua conta.</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Voltar ao Login</a>
</div>
